<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="end_effector_right" default="ari-hand"/>
  <arg name="end_effector_left" default="ari-hand"/>

  <!-- Diff drive controller multipliers -->
  <rosparam command="load" file="$(find ari_controller_configuration)/config/mobile_base_controller_multipliers.yaml"/>

  <!-- Diff drive controller parameters -->
  <rosparam command="load" file="$(find ari_controller_configuration)/config/mobile_base_controller.yaml"/>

  <!-- Robot model -->
  <include file="$(find ari_description)/robots/upload.launch">
    <arg name="end_effector_left" value="$(arg end_effector_left)"/>
    <arg name="end_effector_right" value="$(arg end_effector_right)"/>
  </include>

  <!-- ari_hardware parameters -->
  <rosparam command="load" file="$(find ari_bringup)/config/ari_hardware/ari_hardware_arm.yaml"/>

  <!-- Bring up robot -->
  <include file="$(find ari_bringup)/launch/ari_bringup.launch">
    <arg name="end_effector_left" value="$(arg end_effector_left)"/>
    <arg name="end_effector_right" value="$(arg end_effector_right)"/>
  </include>

</launch>
