<?xml version="1.0"?>
<launch>
    <arg name="detections_per_sec" default="1"/>
    <arg name="image_topic" default="/head_front_camera/color/image_raw"/>
    <arg name="output_topic" default="/qr_reader/detections"/>

    <node pkg="zbar_ros" type="barcode_reader_node" name="qr_reader">
        <param name="images_per_second" value="1.0"/>
        <remap from="barcode" to="$(arg output_topic)"/>
	<remap from="image" to="$(arg image_topic)/compressed"/>
    </node>
</launch>
