<?xml version="1.0" ?>
<!--

  Copyright (c) 2019, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find ari_description)/urdf/deg_to_rad.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_t265.urdf.xacro" />
  <xacro:include filename="$(find ari_description)/urdf/sensors/microphone.urdf.xacro"/>
  <xacro:include filename="$(find ari_description)/urdf/sensors/imx179_camera.gazebo.xacro"/>
  <xacro:include filename="$(find ari_description)/urdf/sensors/sick_tim571_laser.urdf.xacro"/>


  <!--Constant parameters-->
  <xacro:property name="torso_front_camera_position_x" value="-0.11249" />
  <xacro:property name="torso_front_camera_position_y" value="0.0" />
  <xacro:property name="torso_front_camera_position_z" value="0.97052" />
  <xacro:property name="torso_front_camera_orientation_r" value="0.0" />
  <xacro:property name="torso_front_camera_orientation_p" value="${42.5 * deg_to_rad}" />
  <xacro:property name="torso_front_camera_orientation_y" value="0.0" />
  <xacro:property name="torso_back_camera_position_x" value="-0.3275" />
  <xacro:property name="torso_back_camera_position_y" value="0.009" />
  <xacro:property name="torso_back_camera_position_z" value="1.0337" />
  <xacro:property name="torso_back_camera_orientation_r" value="0.0" />
  <xacro:property name="torso_back_camera_orientation_p" value="${15 * deg_to_rad}" />
  <xacro:property name="torso_back_camera_orientation_y" value="${180 * deg_to_rad}" />

  <!-- Laser characteristics -->
  <xacro:property name="base_laser_x" value="-0.34"/>
  <xacro:property name="base_laser_y" value="0.0"/>
  <xacro:property name="base_laser_z" value="0.564"/>


  <xacro:macro name="torso_sensors" params="name parent">

  <!-- Torso sensors -->
  <!-- Torso front camera -->
  <sensor_d435 parent="${parent}" name="${name}_front_camera" topics_ns="${name}_front_camera" use_nominal_extrinsics="true">
    <origin xyz="${torso_front_camera_position_x} ${torso_front_camera_position_y} ${torso_front_camera_position_z}"
            rpy="${torso_front_camera_orientation_r} ${torso_front_camera_orientation_p} ${torso_front_camera_orientation_y}"/>
  </sensor_d435>

  <!-- Torso back camera -->
  <sensor_t265 parent="${parent}" name="${name}_back_camera" topics_ns="${name}_back_camera">
    <origin xyz="${torso_back_camera_position_x} ${torso_back_camera_position_y} ${torso_back_camera_position_z}"
            rpy="${torso_back_camera_orientation_r} ${torso_back_camera_orientation_p} ${torso_back_camera_orientation_y}"/>
  </sensor_t265>

  <!-- Optional SPRING cameras -->
  <xacro:if value="${has_front_fisheye_camera}">
    <!-- Front IMX179 Camera -->
    <link name="front_fisheye_camera_link">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <mass value="0.00115745344894968"/>
        <inertia ixx="6.76913771029748E-08" ixy="2.52492243040059E-13" ixz="-3.60412180500293E-11"
                 iyy="2.88827920072855E-08" iyz="-1.65336506314803E-13"
                 izz="3.97290092554434E-08"/>
      </inertial>
    </link>

    <joint name="front_fisheye_camera_joint" type="fixed">
      <origin xyz="-0.1418 0.0 1.1956" rpy="0 ${-19 * deg_to_rad} 0"/>
      <parent link="${parent}" />
      <child link="front_fisheye_camera_link" />
      <axis xyz="0 0 0" />
    </joint>

    <joint name="front_fisheye_camera_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-90 * deg_to_rad} 0 ${-90 * deg_to_rad}" />
      <parent link="front_fisheye_camera_link" />
      <child link="front_fisheye_camera_optical_frame" />
      <axis xyz="0 0 0" />
    </joint>
    <link name="front_fisheye_camera_optical_frame"/>

    <xacro:imx179_camera_gazebo name="front_fisheye_camera" topic="front_fisheye_camera" frame="front_fisheye_camera_optical_frame"/>
  </xacro:if>

  <xacro:if value="${has_back_fisheye_camera}">
    <!-- Back IMX179 Camera -->
    <link name="rear_fisheye_camera_link">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <mass value="0.00115745344894968"/>
        <inertia ixx="6.76913771029748E-08" ixy="2.52492243040059E-13" ixz="-3.60412180500293E-11"
                 iyy="2.88827920072855E-08" iyz="-1.65336506314803E-13"
                 izz="3.97290092554434E-08"/>
      </inertial>
    </link>

    <joint name="rear_fisheye_camera_joint" type="fixed">
      <origin xyz="-0.3209 0.0 1.1634" rpy="0 ${-25 * deg_to_rad} ${-180 * deg_to_rad}" />
      <parent link="${parent}" />
      <child link="rear_fisheye_camera_link" />
      <axis xyz="0 0 0" />
    </joint>

    <joint name="rear_fisheye_camera_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-90 * deg_to_rad} 0 ${-90 * deg_to_rad}" />
      <parent link="rear_fisheye_camera_link" />
      <child link="rear_fisheye_camera_optical_frame" />
      <axis xyz="0 0 0" />
    </joint>
    <link name="rear_fisheye_camera_optical_frame"/>

    <xacro:imx179_camera_gazebo name="rear_fisheye_camera" topic="rear_fisheye_camera" frame="rear_fisheye_camera_optical_frame"/>
  </xacro:if>

  <!-- Microphones -->
  <xacro:microphone name="${name}_mic_front" parent="${parent}">
    <origin xyz="-0.12173 -3.5497E-05 0.80332" rpy="${80 * deg_to_rad} 0 ${90 * deg_to_rad}"/>
  </xacro:microphone>

  <xacro:if value="${laser_model == 'sick-571'}">
    <!-- Laser -->
    <!-- Theoretic FOV = 220 -->
    <xacro:sick_tim571_laser name="${name}_laser" parent="${parent}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
      <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 ${ 180 * deg_to_rad }" />
    </xacro:sick_tim571_laser>
  </xacro:if>

 </xacro:macro>


</robot>
