<?xml version="1.0"?>
<!--
  Copyright (c) 2019, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro"
        name="ari" >

  <xacro:arg name="multiple" default="false"/>
  <xacro:arg name="namespace" default=""/>
  <xacro:property name="is_multiple" value="$(arg multiple)" />
  <xacro:property name="nsp" value="$(arg namespace)" />

  <!-- The properties below are modified using empy http://www.alcyone.com/software/empy/
       from the create_robot.py tool. Handle them with care -->
  <xacro:property name="head_link_name"          value="head_2_link"/>

  <!-- The following included files set up definitions of parts of the robot base -->
  <!-- Base -->
  <xacro:include filename="$(find ari_description)/urdf/base/base.urdf.xacro" />

  <!-- Torso -->
  <xacro:include filename="$(find ari_description)/urdf/torso/torso_sensors.urdf.xacro" />

  <!-- Arm -->
  <xacro:include filename="$(find ari_description)/urdf/arm/arm.urdf.xacro" />

  <!-- Head -->
  <xacro:include filename="$(find ari_description)/urdf/head/head.urdf.xacro" />

  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find ari_description)/gazebo/gazebo.urdf.xacro" />
  <!-- Materials for visualization -->
  <xacro:include filename="$(find ari_description)/urdf/materials.urdf.xacro" />

  <!-- Now we can start using the macros included above to define the actual robot -->
  <xacro:base name="base"/>
  <xacro:torso_sensors name="torso" parent="base_link"/>
  <xacro:head name="head" parent="base_link"/>

  <xacro:ari_arm name="arm" parent="base_link" side="left" reflect="1">
    <origin xyz="-0.219 0.097624 1.1111" rpy="${105.0 * deg_to_rad} ${0.0 * deg_to_rad} ${-180.0 * deg_to_rad}" />
  </xacro:ari_arm>
  <xacro:ari_arm name="arm" parent="base_link" side="right" reflect="-1">
    <origin xyz="-0.219 -0.097624 1.1111" rpy="${-105.0 * deg_to_rad} ${0.0 * deg_to_rad} ${180.0 * deg_to_rad}" />
  </xacro:ari_arm>

</robot>


