<?xml version="1.0"?>
<launch>
  <arg name="multi" default=""/>
  <arg name="robot_model" default="v1"/>
  <arg name="end_effector_right" default="$(eval {'v1': 'ari-hand', 'v2': 'false'}.get(arg('robot_model'), 'false'))"/>
  <arg name="end_effector_left" default="$(eval {'v1': 'ari-hand', 'v2': 'false'}.get(arg('robot_model'), 'false'))"/>
  <arg name="front_fisheye_camera" default="false"/>
  <arg name="back_fisheye_camera" default="false"/>
  <arg name="laser_model"  default="false"/>
  <arg name="camera_model_head" default="raspi"/>
  <arg name="has_thermal" default="false"/>
  <arg name="use_nominal_extrinsics" default="false"/>

  <!-- Robot description -->
  <param name="robot_description"
    command="rosrun xacro xacro --inorder
    '$(find ari_description)/robots/ari.urdf.xacro'
    robot_model:=$(arg robot_model)
    end_effector_right:=$(arg end_effector_right)
    end_effector_left:=$(arg end_effector_left)
    laser_model:=$(arg laser_model)
    camera_model_head:=$(arg camera_model_head)
    front_fisheye_camera:=$(arg front_fisheye_camera)
    back_fisheye_camera:=$(arg back_fisheye_camera)
    has_thermal:=$(arg has_thermal)
    use_nominal_extrinsics:=$(arg use_nominal_extrinsics)
    $(arg multi)"/>
  <rosparam command="load" file="$(find ari_description)/config/collision/collision_parameters_$(arg robot_model).yaml" />
</launch>
