<?xml version="1.0"?>

<!--
  Copyright (c) 2022, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="torso_265" params="name *origin">

<!-- rgbd_link-->
 <link name="${name}_link">
    <inertial>
      <origin xyz="-0.0061486 -0.0048187 -1.1325E-08" rpy="0 0 0" />
      <mass value="0.073375" />
      <inertia ixx="6.7873E-05" ixy="3.4641E-08" ixz="-6.0015E-13"
               iyy="4.0786E-06" iyz="5.2822E-13" izz="6.5355E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ari_description/meshes/sensors/torso_v2_265.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ari_description/meshes/sensors/torso_v2_265.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="${name}_joint" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="base_link" />
    <child link="${name}_link" />
  </joint>

  </xacro:macro>
</robot>

