<?xml version="1.0"?>
<!--
  Copyright (c) 2023 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ari_simple_transmission" params="name reduction:=1.0 offset_value:=0.0" >
    <transmission name="${name}_trans">
      <plugin>transmission_interface/SimpleTransmission</plugin>
      <actuator name="${name}_actuator" role="actuator1"/>
      <joint name="${name}_joint" role="joint1">
        <mechanical_reduction>${reduction}</mechanical_reduction>
        <offset>${offset_value}</offset>
      </joint>
    </transmission>
  </xacro:macro>

  <xacro:macro name="finger_transmissions_ros2" params="finger_name act_name start reduction:=1.0">
    
    <ros2_control name="${finger_name}_virtual_system" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      
      <joint name="${finger_name}_virtual_1_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      
      <transmission name="${finger_name}_virtual_1_trans">
        <plugin>hey5_transmissions/Hey5Reducer</plugin>
        <actuator name="${act_name}" role="actuator1">
          <mechanical_reduction>${reduction}</mechanical_reduction>
        </actuator>
        <joint name="${finger_name}_virtual_1_joint" role="joint1">
          <offset>0.0</offset>
        </joint>
        <param name="deadBandLower">0.0</param>
        <param name="deadBandUpper">${start}</param>
        <param name="saturationLower">0.0</param>
        <param name="saturationUpper">3.0</param>
      </transmission>

      <joint name="${finger_name}_virtual_2_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      
      <transmission name="${finger_name}_virtual_2_trans">
        <plugin>hey5_transmissions/Hey5Reducer</plugin>
        <actuator name="${act_name}" role="actuator1">
          <mechanical_reduction>${reduction}</mechanical_reduction>
        </actuator>
        <joint name="${finger_name}_virtual_2_joint" role="joint1">
          <offset>0.0</offset>
        </joint>
        <param name="deadBandLower">0.0</param>
        <param name="deadBandUpper">${start}</param>
        <param name="saturationLower">0.0</param>
        <param name="saturationUpper">3.0</param>
      </transmission>
    </ros2_control>

  </xacro:macro>

</robot>